# macOS
.DS_Store

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# latexmk temp
.latexmk/

# Output folder (enable if you DON'T want to version the final PDF)
# out/
